.task-item {
  display: flex;
  width: 100%;
  padding: 10px 10px;
  justify-content: space-between;
  border: 1px solid #00d1b2;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  &__control {
    button {
      border: none;
      background: transparent;
      .fa {
        color: #00d1b2;
      }
    }
  }
  &__text {
    display: flex;
    align-items: center;
  }
  &__check {
    margin-right: 10px;
  }
  input {
    border: none;
    border-bottom: 1px solid #00d1b2;
  }
  button {
    border: none;
    background: transparent;
  }
  &__text {
    button {
      .fa {
        color: #00d1b2;
      }
    }
  }
}

.delete-selected-item {
  position: absolute;
  top: 0;
  left: 0;
}
